<header>Instructors</header>
<section>
  <article>
    <mat-selection-list #instructorList [multiple]="false">
      <mat-list-option *ngFor="let instructor of instructors" [value]="instructor">
        <div>
          <div>{{ instructor.getFirstName() }} {{ instructor.getLastName() }}</div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </article>
  <article class="selected-user">
    <header>Selected instructor</header>
    <div class="margin-top-separation">
      <div>Name: {{instructorList.selectedOptions.selected[0]?.value.getFirstName()}} {{instructorList.selectedOptions.selected[0]?.value.getLastName()}}</div>
      <div>Birthday: {{instructorList.selectedOptions.selected[0]?.value.getBirthday()}}</div>
    </div>
  </article>
</section>
