header{
    text-align: center;
    font-style: normal;
    font-size: 18px;
}

.selected-user{
    padding-left: 18px;
    font-size: 18px;
}

.margin-top-separation{
    margin-top: 10px;
}

.margin-top-separation div{
    margin-top: 5px;
}