section {
  float: left;
  width: 80%;
  border-radius: 25px;
  border: 2px solid #73AD21;
}

aside {
  float: right;
  width: 15%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  margin-top: 150px;
}

header {
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  font-size: 25px;
}
